{% load static %}
<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Tailwindcss Compiled -->
    <!-- <link rel="stylesheet" href="{% static './css/tailwindcss.css' %}"> -->

    <!-- Tailwindcss CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-neutral-900 text-gray-400">
    <!-- Pop-up de alertas do site -->
    {% if messages %}
        <div class="fixed top-5 right-5 space-y-2 z-50">
            {% for msg in messages %}
                <div class="msg-pop-up w-[300px] text-center px-4 py-2 rounded-md shadow-md transition-opacity duration-500
                        {% if msg.tags == 'success' %}bg-green-700 text-white
                        {% elif msg.tags == 'error' %}bg-red-700 text-white
                        {% elif msg.tags == 'warning' %}bg-yellow-700 text-black
                        {% elif msg.tags == 'info' %}bg-blue-700 text-white
                        {% else %}bg-gray-500 text-white
                        {% endif %}">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Header do sistema -->
    <div class="bg-stone-950 border-b-4 border-stone-900">
        <div class="container mx-auto flex items-center p-2">
            <div class="flex-1">
                <h1><b>EasySharing</b> - Internal Sharing and Storage</h1>
            </div>
            <div class="flex gap-4">
                <a href="{% url 'user-logout' %}" class="bg-red-800 hover:bg-red-600 text-white px-2 rounded-sm">
                    Sair
                </a>
            </div>
        </div>
    </div>

    <!-- Conteúdo do sistema -->
    {% block content %}{% endblock %}

    <!-- Scripts JS -->
    <script>
        function hideMsgPopUp() {
            const messages = document.querySelectorAll(".msg-pop-up");

            messages.forEach((msg) => {
                setTimeout(() => {
                    msg.style.opacity = "0";

                    setTimeout(() => {
                        msg.remove();
                    }, 500);
                }, 3000);
            });
        }

        document.addEventListener("DOMContentLoaded", hideMsgPopUp);
    </script>

    <!-- <script>
        document.addEventListener("DOMContentLoaded", () => {
            const selectAll = document.getElementById("select-all");

            // Quando o "Selecionar Tudo" for clicado
            selectAll.addEventListener("change", () => {
                // Seleciona apenas as linhas visíveis (as que a pesquisa não ocultou)
                const visibleRows = document.querySelectorAll('tbody tr:not([style*="display: none"])');

                visibleRows.forEach(row => {
                    const checkbox = row.querySelector('input[name="files"]');
                    if (checkbox) checkbox.checked = selectAll.checked;
                });
            });

            // Reativa o botão "Selecionar Tudo" após nova pesquisa
            const searchInput = document.getElementById("search-files");
            if (searchInput) {
                searchInput.addEventListener("input", () => {
                    // Quando fizer uma nova pesquisa, desmarca o select-all
                    selectAll.checked = false;
                });
            }
        });

        // Função de pesquisa do sistema
        function enableSearch(inputId, targetSelector) {
            const searchInput = document.getElementById(inputId);

            if (!searchInput) return;

            searchInput.addEventListener("input", function () {
                const term = this.value.toLowerCase();
                const lines = document.querySelectorAll(targetSelector);

                lines.forEach((line) => {
                    const text = line.textContent.toLowerCase();
                    line.style.display = text.includes(term) ? "" : "none";
                });
            });
        }
        // Ativa a pesquisa na tabela
        document.addEventListener("DOMContentLoaded", function () {
            enableSearch("search-files", "tbody tr");
        });

        // Contador de arquivos selecionados.
        function updateFileCount(event) {
            const count = event.target.files.length;
            const label = document.getElementById('file_count');

            if (count === 0) {
                label.textContent = '';
            } else if (count === 1) {
                label.textContent = '1 arquivo selecionado';
            } else {
                label.textContent = `${count} arquivos selecionados`;
            }
        }

        // Codigo para desaparecer o pop up de menssagens
        document.addEventListener("DOMContentLoaded", function () {
            const messages = document.querySelectorAll(".popup-message");

            messages.forEach((msg) => {
                // Depois de 3 segundos começa a sumir
                setTimeout(() => {
                    msg.style.opacity = "0";
                }, 3000);

                // Depois de 3.5 segundos remove do DOM
                setTimeout(() => {
                    msg.remove();
                }, 3500);
            });
        });
    </script> -->
</body>

</html>