{% load static %}
<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Tailwindcss Compiled -->
    <!-- <link rel="stylesheet" href="{% static './css/tailwindcss.css' %}"> -->

    <!-- Tailwindcss CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-neutral-900 text-gray-400">
    <!-- Pop-up de alertas do site -->
    {% if messages %}
    <div class="fixed top-5 right-5 space-y-2 z-50">
        {% for msg in messages %}
        <div class="msg-pop-up w-[300px] text-center px-4 py-2 rounded-md shadow-md transition-opacity duration-500
                        {% if msg.tags == 'success' %}bg-green-700 text-white
                        {% elif msg.tags == 'error' %}bg-red-700 text-white
                        {% elif msg.tags == 'warning' %}bg-yellow-700 text-black
                        {% elif msg.tags == 'info' %}bg-blue-700 text-white
                        {% else %}bg-gray-500 text-white
                        {% endif %}">
            {{ msg }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Header do sistema -->
    <div class="md:w-full sm:w-full w-102 bg-stone-950 border-b-4 border-stone-900">
        <div class="container mx-auto flex items-center h-[44px]">
            <div class="flex-1">
                <h1 class="animate-pulse [animation-duration:5s]"><b>EasySharing</b> - Internal Sharing and Storage</h1>
            </div>
            <div class="flex gap-4">
                {% if user.is_authenticated %}
                    <a href="{% url 'user-logout' %}" class="bg-red-800 hover:bg-red-600 text-white p-2 rounded-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                            <polyline points="16 17 21 12 16 7" />
                            <line x1="21" y1="12" x2="9" y2="12" />
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Conteúdo do sistema -->
    {% block content %}{% endblock %}

    <!-- Scripts JS -->
    <script>
        function hideMsgPopUp() {
            const messages = document.querySelectorAll(".msg-pop-up");

            messages.forEach((msg) => {
                setTimeout(() => {
                    msg.style.opacity = "0";

                    setTimeout(() => {
                        msg.remove();
                    }, 500);
                }, 3000);
            });
        }

        function selectAllCheckBox() {
            const selectAll = document.getElementById("select-all");

            selectAll.addEventListener("change", () => {
                const visibleRows = document.querySelectorAll('tbody tr:not([style*="display: none"])');

                visibleRows.forEach(row => {
                    const checkbox = row.querySelector('input[name="selected"]');
                    if (checkbox) checkbox.checked = selectAll.checked;
                });
                selectedItemsCount();
            });

            // Se houver uma nova pesquisa na barra reseta.
            const searchInput = document.getElementById("search-files");

            if (searchInput) {
                searchInput.addEventListener("input", () => {
                    selectAll.checked = false;
                });
            }
        }

        function enableSearch(inputId, targetSelector) {
            const searchInput = document.getElementById(inputId);

            if (!searchInput) return;

            searchInput.addEventListener("input", function () {
                const term = this.value.toLowerCase();
                const lines = document.querySelectorAll(targetSelector);

                lines.forEach((line) => {
                    const text = line.textContent.toLowerCase();
                    line.style.display = text.includes(term) ? "" : "none";
                });
            });
        }

        function uploadFilesCount() {
            const countSpan = document.getElementById("upload_count")
            const filesInput = document.getElementById("upload_input")

            filesInput.addEventListener("change", function () {
                const totalFiles = filesInput.files.length

                countSpan.textContent = `${totalFiles} arquivos selecionados.`
            });
        }

        function selectedItemsCount() {
            const checkboxes = document.querySelectorAll(".checkbox");
            const selectedItems = [];

            checkboxes.forEach(cb => {
                if (cb.checked) {
                    selectedItems.push(cb.value);
                }
            });

            const countSpan = document.getElementById("selected-items");
            countSpan.textContent = selectedItems.length;
        }

        document.querySelectorAll('.checkbox').forEach(cb => {
            cb.addEventListener('change', selectedItemsCount);
        });
        document.addEventListener("DOMContentLoaded", hideMsgPopUp)
        document.addEventListener("DOMContentLoaded", selectAllCheckBox);
        document.addEventListener("DOMContentLoaded", uploadFilesCount);
    </script>
</body>
</html>