{% extends 'base.html' %}
{% block title %} EasySharing - Home {% endblock %}
{% block content %}
<div class="w-300 bg-stone-800 mx-auto text-center p-2">
    <h1 class="mb-2">Menu de configurações e controle do EasySharing</h1>
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-2">
        <div class="bg-stone-900 rounded-md shadow-md">
            <p>1</p>
        </div>

        <div class="bg-stone-900 rounded-md shadow-md">
            <p>1</p>
        </div>

    </div>
</div>
{% endblock %}