{% extends 'base.html' %}
{% block title %} EasySharing - Controle {% endblock %}

<!-- Conteúdo da página -->
{% block content %}
<div class="w-full h-full grid grid-cols-12 gap-2">
    <!-- Painel de configurações gerais -->
    <div class="col-span-12 md:col-span-3 bg-stone-900 rounded-b-md p-2 h-[216px]">
        <h2 class="text-center font-medium mb-2">
            Painel de Controle
        </h2>

        <ul class="space-y-2 text-sm text-center text-white">
            <li id="toggle_btn" data-page="users"
                class="menu-item p-2 rounded-md shadow-md bg-blue-800 transition cursor-pointer">
                Gerenciar Usuários
            </li>
            <li id="toggle_btn" data-page="mail_box"
                class="menu-item p-2 rounded-md shadow-md bg-stone-800 transition cursor-pointer">
                Caixa de Mensagens
            </li>
            <li id="toggle_btn" data-page="about"
                class="menu-item p-2 rounded-md shadow-md bg-stone-800 transition cursor-pointer">
                Informações do Sistema
            </li>
        </ul>
    </div>

    <!-- Área de configurações -->
    <div class="col-span-12 md:col-span-9 space-y-2">
        <!-- Card de configuração -->
        <div class="bg-stone-900 rounded-b-md p-2">
            <div class="bg-stone-800 rounded-md shadow-md p-2">
                <!-- Usuários -->
                <div id="users" class="menu-content block flex flex-col items-center gap-2">
                    {% if user.is_admin %}
                    <div class="w-full bg-stone-800 grid grid-cols-2 rounded-md shadow-md">
                        <!-- Pesquisa -->
                        <div class="p-2">
                            <input id="search-files" type="text" placeholder="Procurar usuário..."
                                class="w-full outline-none bg-stone-900 hover:bg-stone-700 p-2 rounded-sm shadow-md transition">
                        </div>

                        <!-- Ações -->
                        <div class="flex justify-end p-2 gap-2 shadow-md">
                            <!-- Adicionar novo usuário -->
                            <a href="{% url 'user-create' %}"
                                class="bg-green-800 hover:bg-green-600 p-2 rounded-md shadow-md font-semibold text-white">
                                + Usuário
                            </a>
                        </div>
                    </div>

                    <!-- Usuários ativos -->
                    <h1 class="text-center font-semibold">Usuários ativos no sistema</h1>
                    <table class="w-full max-w-4xl text-center shadow-md">
                        <thead class="bg-stone-950 text-xs sticky top-0 z-10 shadow-md">
                            <tr>
                                <th class="px-2 py-1">Usuário</th>
                                <th class="px-2 py-1">Cargo</th>
                                <th class="px-2 py-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="bg-stone-300 text-black">
                            {% for user in actives %}
                            <tr class="hover:bg-stone-200 cursor-pointer transition border-2 border-gray-400 shadow-md">
                                <td class="px-2 py-1">{{ user.username }}</td>
                                <td class="px-2 py-1">{{ user.role }}</td>
                                <td class="px-2 py-1 space-x-2 flex items-center justify-center">
                                    <!-- Editar -->
                                    <a href="{% url 'user-edit' user.id %}"
                                        class="bg-green-800 hover:bg-green-600 p-2 text-white rounded-md shadow-md transition">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M12 20h9" />
                                            <path d="M16.5 3.5a2.1 2.1 0 0 1 3 3L7 19l-4 1 1-4Z" />
                                        </svg>
                                    </a>

                                    <!-- Deletar -->
                                    <form method="POST" action="{% url 'user-delete' %}">
                                        {% csrf_token %}
                                        <input type="number" , name="user_id" , value="{{ user.id }}" class="hidden">

                                        <button type="submit"
                                            class="bg-red-800 shadow-md rounded-md hover:bg-red-600 cursor-pointer transition text-white p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M3 6h18" />
                                                <path d="M8 6V4h8v2" />
                                                <path d="M6 6l1 14h10l1-14" />
                                                <path d="M10 11v6" />
                                                <path d="M14 11v6" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="px-2 py-2 text-center text-neutral-400">
                                    Nenhum usuário encontrado...
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Usuários inativos ou não autorizados -->
                    <h1 class="text-center font-semibold">Usuários inativos ou sem autorização</h1>
                    <table class="w-full max-w-4xl text-center shadow-md">
                        <thead class="bg-stone-950 text-xs sticky top-0 z-10 shadow-md">
                            <tr>
                                <th class="px-2 py-1">Usuário</th>
                                <th class="px-2 py-1">Cargo</th>
                                <th class="px-2 py-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="bg-stone-300 text-black">
                            {% for user in inactives %}
                            <tr class="hover:bg-stone-200 cursor-pointer transition border-2 border-gray-400 shadow-md">
                                <td class="px-2 py-1">{{ user.username }}</td>
                                <td class="px-2 py-1">{{ user.role }}</td>
                                <td class="px-2 py-1 space-x-2 flex items-center justify-center">
                                    <!-- Editar -->
                                    <a href="{% url 'user-edit' user.id %}"
                                        class="bg-green-800 hover:bg-green-600 p-2 text-white rounded-md shadow-md transition">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M12 20h9" />
                                            <path d="M16.5 3.5a2.1 2.1 0 0 1 3 3L7 19l-4 1 1-4Z" />
                                        </svg>
                                    </a>

                                    <!-- Deletar -->
                                    <form method="POST" action="{% url 'user-delete' %}">
                                        {% csrf_token %}
                                        <input type="number" , name="user_id" , value="{{ user.id }}" class="hidden">

                                        <button type="submit"
                                            class="bg-red-800 shadow-md rounded-md hover:bg-red-600 cursor-pointer transition text-white p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M3 6h18" />
                                                <path d="M8 6V4h8v2" />
                                                <path d="M6 6l1 14h10l1-14" />
                                                <path d="M10 11v6" />
                                                <path d="M14 11v6" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="px-2 py-2 text-center text-neutral-600">
                                    Nenhum usuário encontrado...
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if not user.is_admin %}
                        <p>Sem autorização</p>
                    {% endif %}
                </div>

                <!-- Notificações -->
                <div id="mail_box" class="menu-content hidden flex flex-col justify-center items-center gap-2">
                    <div class="w-full bg-stone-800 grid grid-cols-2 rounded-md shadow-md">
                        <!-- Pesquisa -->
                        <div class="p-2">
                            <input id="search-files" type="text" placeholder="Procurar arquivos..."
                                class="w-full outline-none bg-stone-900 hover:bg-stone-700 p-2 rounded-sm shadow-md transition">
                        </div>

                        <!-- Ações -->
                        <div class="flex justify-end p-2 gap-2 shadow-md">
                            <!-- Nova mensagem -->
                            <a href=""
                                class="bg-green-800 hover:bg-green-600 p-2 rounded-md shadow-md font-semibold text-white">
                                + Mensagem
                            </a>
                        </div>
                    </div>

                    <table class="w-full max-w-4xl text-center shadow-md">
                        <thead class="bg-stone-950 text-xs sticky top-0 z-10 shadow-md">
                            <tr>
                                <th class="px-2 py-1">Por</th>
                                <th class="px-2 py-1">De</th>
                                <th class="px-2 py-1">Assunto</th>
                            </tr>
                        </thead>
                        <tbody class="bg-neutral-300 text-white">
                            {% for user in folders %}
                            <tr
                                class="hover:bg-neutral-400 cursor-pointer transition border-2 border-neutral-200 shadow-md">
                                <td class="px-2 py-1">root</td>
                                <td class="px-2 py-1">Texto</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="px-2 py-2 text-center text-neutral-600">
                                    Nenhuma mensagem encontrada...
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Sobre -->
                <div id="about" class="menu-content hidden flex justify-center">
                    <div class="w-full bg-stone-300 max-w-4xl text-justify text-black shadow-md rounded-md p-2">
                        <p class="mx-4">
                            EasySharing foi desenvolvido para solucionar a necessidade de um sistema simples
                            para compartilhamento e armazenamento de documentos, fotos ou qualquer outro tipo
                            de arquivo, sem a necessidade de acesso à rede externa.
                            <br><br>
                            Ou seja, foi especificamente criado para rodar em ambientes internos de trabalho
                            e em redes domésticas.
                            <br><br>
                            A versão atual ainda está em desenvolvimento e não conta com todas as suas
                            funcionalidades finais, sendo disponibilizada como uma versão gratuita.
                            <br><br>
                            Após o lançamento da versão atual, uma nova versão aprimorada será desenvolvida usando React
                            para melhor dinâmica e maior robustez; Uma versão comercial!
                        </p><br>

                        <hr class="border-stone-400 w-full"><br>

                        <p class="text-sm text-gray-800 text-center">
                            Nome: EasySharing
                            <br>
                            Versão: 1.0 Lite gratuita
                            <br>
                            Idioma: Português Brasil
                            <br>
                            Código: Django, JavaScript, Tailwind
                        </p><br>

                        <hr class="border-stone-400 w-full"><br>

                        <p class="text-sm text-center">&copy; Xzhyan, 2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const menuItems = document.querySelectorAll(".menu-item");
    const contents = document.querySelectorAll(".menu-content");

    menuItems.forEach(item => {
        item.addEventListener("click", () => {
            const page = item.dataset.page;

            // Esconde todos os conteúdos
            contents.forEach(content => {
                content.classList.add("hidden");
            });

            // Mostra o conteúdo correspondente
            const activeContent = document.getElementById(page);
            if (activeContent) {
                activeContent.classList.remove("hidden");
            }

            // Remove destaque de todos os botões
            menuItems.forEach(btn => {
                btn.classList.remove("bg-blue-800", "hover:bg-blue-600");
                btn.classList.add("bg-stone-800", "hover:bg-stone-600");
            });

            // Destaca o botão clicado
            item.classList.remove("bg-stone-800", "hover:bg-stone-600");
            item.classList.add("bg-blue-800", "hover:bg-blue-600");
        });
    });
</script>

{% endblock %}