{% extends 'base.html' %}
{% block title %} FTP - Drive {% endblock %}
{% block content %}
</div class="container mx-auto">
    <div class="bg-stone-800 grid grid-cols-1 md:grid-cols-5">
        <!-- Manu de controle -->
        <div class="">
            <div class="">
                <h1 class="">Enviar Arquivos</h1>
                <form method="POST" enctype="multipart/form-data" class="">
                    {% csrf_token %}

                    <label for="file_input"
                        class="">
                        [ + ]
                    </label>

                    <span id="file_count" class="">nenhum arquivo selecionado</span>

                    <input id="file_input" type="file" name="file_list" multiple onchange="updateFileCount(event)"
                        class="hidden">

                    <button name="form_type" value="upload_form" type="submit"
                        class="">
                        Enviar
                    </button>
                </form>
            </div>
        </div>

        <!-- Menu dos arquivos -->
        <div class="md:col-span-4">
            <form method="POST">
                {% csrf_token %}
                <!-- Caminho atual e input de pesquisas -->
                <div class="">
                    <p>Home\Minha Pasta\</p>

                    <input id="search-files" type="text" placeholder="Pesquisar por arquivo ou documento..."
                        class="">

                    <button type="submit" name="form_type" value="download_form"
                        class="bg-blue-800 rounded-md hover:bg-blue-700 cursor-pointer transition text-white p-2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M12 3v12" />
                            <path d="M8 11l4 4 4-4" />
                            <path d="M5 21h14" />
                        </svg>
                    </button>

                    <button type="submit" name="form_type" value="delete_form"
                        class="bg-red-800 rounded-md hover:bg-red-700 cursor-pointer transition text-white p-2">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="M3 6h18" />
                            <path d="M8 6V4h8v2" />
                            <path d="M6 6l1 14h10l1-14" />
                            <path d="M10 11v6" />
                            <path d="M14 11v6" />
                        </svg>
                    </button>
                </div>

                <div class="">
                    <table class="">
                        <thead class="">
                            <tr>
                                <!-- Checkbox para selecionar tudo -->
                                <th class="px-4 py-2">
                                    <input id="select-all" type="checkbox"
                                        class="cursor-pointer">
                                </th>
                                <th class="px-4 py-2">Título</th>
                                <th class="px-4 py-2">Proprietário</th>
                                <th class="px-4 py-2">Data de Modificação</th>
                                <th class="px-4 py-2">Tamanho</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            {% for file in all_files %}
                                <tr class="">
                                    <th class="px-4 py-2">
                                        <input type="checkbox" name="files" value="{{ file.id }}"
                                        class="cursor-pointer">
                                    </th>
                                    <td class="px-4 py-2">{{ file.file_name }}</td>
                                    <td class="px-4 py-2">{{ file.owner }}</td>
                                    <td class="px-4 py-2">{{ file.created_at }}</td>
                                    <td class="px-4 py-2">{{ file.size }} kbs</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}