{% extends 'base.html' %}
{% block title %} EasySharing - Armazenamento {% endblock %}

<!-- Conteúdo da página -->
{% block content %}
<div class="grid grid-cols-1 md:grid-cols-8 gap-2">
    <!-- Painel de controle -->
    <div class="md:col-span-2 bg-stone-900 text-center py-2 rounded-b-md shadow-md h-[184px]">
        <h2 class="text-center font-medium mb-2">
            Controle de Pastas
        </h2>

        <!-- Gerenciar Pastas -->
        <div class="bg-stone-800 shadow-md rounded-sm mx-2">
            <form method="POST" class="flex flex-col items-center p-2 gap-2">
                {% csrf_token %}
                <span>Nova pasta</span>

                <input type="text"
                    class="w-full max-w-sm bg-stone-900 hover:bg-stone-800 rounded-sm p-2 shadow-md outline-none text-sm"
                    placeholder="Nome da pasta" name="folder_name" required>

                <button type="submit"
                    class="bg-green-800 hover:bg-green-600 px-4 py-2 text-white m-auto transition font-semibold rounded-sm shadow-md cursor-pointer">
                    Criar
                </button>
            </form>
        </div>
    </div>

    <!-- Pesquisa, lista de pastas -->
    <div class="md:col-span-6">
        <div class="flex flex-col bg-stone-900 p-2 rounded-b-md shadow-md">
            <span class="text-sm mt-1 mb-2">
                Caminho atual: storage\main
            </span>

            <!-- Form das ações -->
            <form method="POST">
                {% csrf_token %}
                <div class="bg-stone-800 grid grid-cols-2 rounded-md shadow-md">
                    <!-- Pesquisa -->
                    <div class="p-2">
                        <input id="search-files" type="text" placeholder="Procurar arquivos..."
                            class="w-full outline-none bg-stone-900 hover:bg-stone-700 p-2 rounded-sm shadow-md transition">
                    </div>
                </div>

                <!-- Tabela de pastas, lista -->
                <div class="shadow-md mt-2 2xl:max-h-184 xl:max-h-122 overflow-y-auto">
                    <table class="w-full text-center shadow-md">
                        <thead class="bg-stone-950 text-xs sticky top-0 z-10 shadow-md">
                            <tr>
                                <th class="px-4 py-2">Nome</th>
                                <th class="px-4 py-2">Caminho</th>
                                <th class="px-4 py-2">Proprietário</th>
                                <th class="px-4 py-2">Equipe</th>
                                <th class="px-4 py-2">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="bg-stone-300 text-black">
                            {% for folder in folders %}
                            <tr class="hover:bg-stone-200 cursor-pointer transition border-2 border-gray-400 shadow-md">
                                <td class="px-4 py-2.5">{{ folder.folder_name }}</td>
                                <td class="px-4 py-2.5">{{ folder.folder_path }}</td>
                                <td class="px-4 py-2.5">{{ folder.owner_id }}</td>
                                <td class="px-4 py-2.5">{{ folder.team_id }}</td>
                                <td>
                                    <span>Deletar</span>
                                    <a href="{% url 'main' folder.id %}">Acessar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}