{% extends 'base.html' %}
{% block title %} Editar usuário {% endblock %}

<!-- Conteúdo da página -->
{% block content %}
<div class="flex flex-col items-center justify-center">
    <div class="w-full max-w-md bg-stone-900 rounded-b-md p-2">
        <!-- Link para voltar -->
        <a href="{% url 'control' %}"
            class="bg-yellow-600 hover:bg-yellow-400 font-semibold transition p-1 rounded-md font-semibold">
            Voltar
        </a>

        <!-- Form de criação de usuário -->
        <form method="POST">
            {% csrf_token %}
            <div class="flex flex-col justify-center items-center gap-2">
                <h1 class="font-semibold text-center">
                    Novo Usuário
                </h1>

                <!-- Input de nome de usuário -->
                {{ form.username }}

                <!-- Inserir a senha -->
                <div class="flex flex-row w-full max-w-md items-center">
                    {{ form.password }}
                    <div id="toggle_password">
                        <svg id="icon_show" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="w-6 h-6 text-stone-400 ml-1 hover:text-stone-200 transition cursor-pointer"
                            style="display: block;">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                        <svg id="icon_hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="w-6 h-6 text-stone-400 ml-1 hover:text-stone-200 transition cursor-pointer"
                            style="display: none;">
                            <path
                                d="M17.94 17.94A10.94 10.94 0 0 1 12 20c-7 0-11-8-11-8a21.78 21.78 0 0 1 5.06-6.94" />
                            <path d="M1 1l22 22" />
                            <path d="M9.53 9.53a3.5 3.5 0 0 0 4.95 4.95" />
                            <path d="M14.47 14.47L9.53 9.53" />
                        </svg>
                    </div>
                </div>

                <!-- Repetir a senha -->
                <div class="flex flex-row w-full items-center">
                    {{ form.repeat_password }}
                </div>

                <!-- Select de cargos -->
                {{ form.role }}

                <button type="submit"
                    class="bg-red-800 hover:bg-red-600 font-semibold px-4 py-2 rounded-md shadow-md transition text-white">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}