{% extends 'base.html' %}
{% block title %} EasySharing - Login {% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="w-full max-w-5xl bg-stone-900 shadow-md rounded-b-md grid grid-cols-5">
        <!-- Card de apresentação -->
        <div class="col-span-3 border-r-2 border-stone-950 p-4 space-y-6">
            <!-- Texto principal -->
            <h1 class="font-semibold text-lg text-center">Bem-vindo ao EasySharing</h1>
            <p class="text-justify text-gray-500">
                Desenvolvido para ser utilizado em ambientes internos de trabalho ou domésticos, o sistema tem como
                objetivo facilitar a transferência, o compartilhamento e o armazenamento de arquivos sem a necessidade
                de acesso a conexões externas.
            </p><br>

            <!-- Versão e copyright -->
            <p class="text-sm text-gray-500 text-center">versão 3.0 Lite Gratuita em português</p>
            <p class="text-sm text-center">&copy; Xzhyan, 2025</p>
        </div>

        <!-- Card de Login -->
        <div class="col-span-2 border-l-2 border-stone-950 p-4">
            <form method="POST" enctype="multipart/form-data" name="form_type" value="login_form">
                {% csrf_token %}
                <div class="flex flex-col items-center gap-6">
                    <h1 class="text-lg text-center font-semibold">Login</h1>
                    {{ form.username }}
                    {{ form.password }}

                    <a href="" class="text-sm text-cyan-500 hover:text-cyan-400 transition">Esqueceu sua senha?</a>

                    <button type="submit"
                        class="w-full max-w-[80px] font-semibold bg-green-800 hover:bg-green-600 p-2 rounded-md shadow-md transition">
                        Acessar
                    </button>

                    <a href="#" class="text-sm text-yellow-500 hover:text-yellow-400 transition">
                        Não possuí login? Solicite seu acesso aqui...
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}