{% extends 'base.html' %}
{% block title %} FTP - Drive {% endblock %}
{% block content %}
<div class="flex items-center justify-center">
    <!-- Card de login do sistema -->
    <div class="w-full max-w-md bg-zinc-800 rounded-md mt-20 p-2 text-gray-400 shadow-md">
        <form method="POST" enctype="multipart/form-data" name="form_type" value="login_form"
            class="flex flex-col gap-1"
        >
            {% csrf_token %}
            <h1 class="font-bold text-center">Acesso ao EasySharing</h1>

            <label for="username">Usuário</label>
            {{ form.username }}

            <label for="password">Senha</label>
            {{ form.password }}

            <button type="submit"
                class="w-[150px] bg-green-900 hover:bg-green-700 p-2 rounded-md m-auto cursor-pointer transition text-white shadow-md"
            >
                Acessar
            </button>
        </form>
    </div>
</div>
{% endblock %}